@model MoneyTracker.Models.Entry

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="grid">
        
        <h4>Entry</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row cells6">
            @Html.LabelFor(model => model.EntryDate, new { @class = "control-label cell" })
            <div class="cell colspan5">
                @Html.EditorFor(model => model.EntryDate)
                @Html.ValidationMessageFor(model => model.EntryDate)
            </div>
        </div>

        <div class="row cells6">
            @Html.LabelFor(model => model.EntryName, new { @class = "control-label cell" })
            <div class="cell colspan5">
                @Html.EditorFor(model => model.EntryName)
                @Html.ValidationMessageFor(model => model.EntryName)
            </div>
        </div>

        <div class="row cells6">
            @Html.LabelFor(model => model.EntryDescription, new { @class = "control-label cell" })
            <div class="cell colspan5">
                @Html.EditorFor(model => model.EntryDescription)
                @Html.ValidationMessageFor(model => model.EntryDescription)
            </div>
        </div>

        <div class="row cells6">
            @Html.LabelFor(model => model.EntrySum, new { @class = "control-label cell" })
            <div class="cell colspan5">
                @Html.EditorFor(model => model.EntrySum)
                @Html.ValidationMessageFor(model => model.EntrySum)
            </div>
        </div>

        <div class="row cells6">
            @Html.LabelFor(model => model.CategoryID, new { @class = "control-label cell" })
            <div class="cell colspan5">
                @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"))
            </div>
        </div>

        <div class="row">
            <div class="cell" >
                <input type="submit" value="Create" class="button primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
