@model IEnumerable<MoneyTracker.Models.Entry>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid">
    <div class="row">
        <div class="cell">
            <h1 class="text-light">
                Spending Enteries
            </h1>
            <hr class="thin bg-grayLighter">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "button primary" })
            </p>
            <hr class="thin bg-grayLighter">
        </div>
    </div>
</div>
<table class="table">
    <thead class="row cells3">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntrySum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntrySum)
                </td>
                <td class="cell date" data-date="@item.EntryDate">
                </td>
                <td>
                    <a href='@Url.Action("Delete", new { @entryId = item.EntryID })'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="total-pages" style="display:none;">@ViewBag.TotalPages</div>
<div class="pagination">
    <span class="item previous"><a href='@Url.Action("Index", new { @page = ViewBag.CurrentPage-1 })'><</a></span>
    <span class="item current">@ViewBag.CurrentPage</span>
    <span class="item next"><a href='@Url.Action("Index", new { @page = ViewBag.CurrentPage+1 })'>></a></span>
</div>