@model IEnumerable<MoneyTracker.Models.Entry>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
<head>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")

    </p>
    <div class="row">
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.EntryName)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.EntrySum)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.EntryDate)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.EntryDescription)
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.EntryName)
        </div>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.EntrySum)
        </div>
        <div class="col-xs-3 date" data-date="@item.EntryDate">
            
        </div>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.EntryDescription)
        </div>
    }
</body>
</html>
