@using Microsoft.AspNet.Identity
@model MoneyTracker.Models.ManageUserViewModel

<div class="grid">
    <div class="row ">
        <div class="cell">
            @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                
                @Html.AntiForgeryToken()
                
                <h4>Change Password Form</h4>
                @Html.ValidationSummary()
                <div class="row">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "cell control-label" })
                    <div class="input-control text">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "cell control-label" })
                    <div class="input-control password">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "cell control-label" })
                    <div class="input-control password">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="button success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>



