@using MoneyTracker.Models
@model StatsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>.hidden{display:none;}</style>

<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <table class="table">
                <thead><tr><th>Averages</th></tr></thead>
                <tr>
                    <td>Daily Average Spending</td>
                    <td>@string.Format("{0:0.00}", Model.DailyAverageSpending)</td>
                </tr>

                <tr>
                    <td>Weekly Average Spending</td>
                    <td>@string.Format("{0:0.00}", Model.WeeklyAverageSpending)</td>
                </tr>

                <tr>
                    <td>Monthly Average Spending</td>
                    <td>@string.Format("{0:0.00}", Model.MonthlyAverageSpending)</td>
                </tr>

                <tr>
                    <td>Total Spending</td>
                    <td>@string.Format("{0:0.00}", Model.TotalSpending)</td>
                </tr>
            </table>
        </div>

        <div class="cell">
            <table class="table">
                <thead><tr><th>Most Expensive Purchases</th></tr></thead>
                @foreach (var item in Model.MostExpensivePurchases)
                {
                    <tr>
                        <td>@item.EntryName</td>
                        <td>@item.EntrySum</td>
                    </tr>
                }
            </table>
        </div>
    </div> 
</div>

@foreach (var item in Model.SpendingsByMonth)
{
    <div class="month-val hidden">@item</div>
}

@foreach (var item in Model.SpendingsByCategory)
{
    <div class="category hidden">@item.Value.CategoryName</div>
    <div class="category-val hidden">@item.Value.Sum</div>
}

@foreach (var item in Model.SpendingsByDayOfWeek)
{
    <div class="day-of-week-val hidden">@item</div>
}

@foreach (var item in Model.SpendingsByDayOfYear)
{
    <div class="day-of-year-val hidden">@item</div>
}

<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <canvas id="spendingsByMonthChart" height="300" width="350"></canvas>
        </div>
        <div class="cell">
            <canvas id="spendingsByCategoryChart" height="300" width="350"></canvas>
        </div>
    </div>
    <div class="row cells2">
        <div class="cell">
            <canvas id="spendingsByDayOfWeekChart" height="300" width="350"></canvas>
        </div>
        <div class="cell">
            <canvas id="spendingsByDayOfYearChart" height="300" width="350"></canvas>
        </div>
    </div>
</div>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/stats.js"></script>