<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/metrocss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/metro")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/dashboard.js")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="~/Content/Site.css"/>


</head>
<body class="bg-white" style="width:100%">
    <div class="app-bar fixed-top navy" data-role="appbar">
        <div class="app-bar-links">
            @Html.ActionLink("Money Tracker", "Index", "Home", null, new { @class = "app-bar-element branding" })
            <span class="app-bar-divider"></span>

            @Html.Partial("_TopMenuPartial")
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
        
        <footer >
            <p>&copy; @DateTime.Now.Year - FINKI
            <br />
                <a href="~/Home/Index" class="tag info">Home</a>
                <a href="~/Home/About" class="tag alert">About Us</a>
                <a href="~/Home/Contact" class="tag success">Contact</a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
    }
</body>
</html>
