@model MoneyTracker.Models.SettingsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="grid">
        <h4>Settings</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            @Html.LabelFor(model => model.UserLegalName, new { @class = "control-label cell" })
            <div class="input-control text">
                @Html.EditorFor(model => model.UserLegalName)
            </div>
            @Html.ValidationMessageFor(model => model.UserLegalName)
        </div>

        <div class="row">
            @Html.LabelFor(model => model.UserCurrency, new { @class = "control-label cell" })
            <div class="input-control select">
                @Html.DropDownListFor(model => model.UserCurrency, new SelectList(ViewBag.CurrencyList, "CurrencyName", "CurrencyName"))
            </div>
        </div>


        <div class="row">
            @Html.LabelFor(model => model.UserDateOfBirth, new { @class = "control-label cell" })
            <div class="input-control text">
                @Html.EditorFor(model => model.UserDateOfBirth)
            </div>
            @Html.ValidationMessageFor(model => model.UserDateOfBirth)
        </div>

        <div class="row">
            @Html.LabelFor(model => model.UserGender, new { @class = "control-label cell" })
            <div class="input-control select">
                @Html.DropDownListFor(model => model.UserGender, new SelectList(ViewBag.GenderList, "GenderName", "GenderName"))
            </div>
        </div>

        <div class="row">
            <div class="cell">
                <input type="submit" value="Save Changes" class="button primary" />
            </div>
        </div>
    </div>
}

